<mat-card>

    <h3> Create New Location</h3>
    <hr>
    <div [hidden]="submitted" style="width:100%;">
        <form #location="ngForm" (ngSubmit)="onSubmit()">
            <div class="actionBoard" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

                <mat-form-field fxFlex="25" appearance="outline">
                    <mat-label>Location Id</mat-label>
                    <input matInput type="text" id="locationId" placeholder="Location Id" required
                        [(ngModel)]="businesslocation.locationId" name="locationId">
                </mat-form-field>

                <mat-form-field fxFlex="25" appearance="outline">
                    <mat-label>Location Name</mat-label>
                    <input matInput type="text" id="locationName" placeholder="Location Name" required
                        [(ngModel)]="businesslocation.locationName" name="locationName">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.md_lt="column" fxLayoutGap="20px" FxLayoutGap.md_lt="5px">
                <div fxFlex="10">
                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="cancel()">Cancel</button>
                </div>
                <div fxFlex="10">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                        [disabled]="location.form.invalid">Submit</button>
                </div>
            </div>
        </form>

    </div>



    <div [hidden]="!submitted">
        <h4>Successfully submitted!</h4>
    </div>
</mat-card>