

.sb-example-1 .search {
    width: 33%;
    height: 50px;
    position: relative;
    display: flex;
    margin: 1%;
    
    
  }
  .sb-example-1 .searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border-right: solid blue 0px;
    outline: none;
    color: #a29dbf;
    margin-left: 5%;
    border: 1px;
    background-color: white;
    border-left:  solid wheat 1px;
    border-top: solid wheat 1px;
    border-bottom: solid wheat 1px;
    font-size: 22px;
    
  }
  .sb-example-1 .searchTerm:focus{
    color: #00B4CC;
  }
  .sb-example-1 .searchButton {
    width: 80px;
    height: 50px;
    background: white;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    border-left:  solid wheat 0px;
    border-right: solid wheat 1px;
    border-top:  solid wheat 1px;
    border-bottom: solid wheat 1px;
  }
  
  
  
  
  
  
  
  
  
  
  .sb-example-2 .searchButton1 {
    width: 100px;
    height: 50px;
    background: white;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(238, 28, 37, 1);
    margin: 1%;
  }
  
  .searchButton2 {
    width: 200px;
    height: 50px;
    background: white;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 18px;
    background-color: rgba(238, 28, 37, 1);
    margin-top: 4%;
    text-align: center;
  }
  
  
  
  
  
  
  
  
  
  
  .search1{
  
   
    width: 80px;
    height: 50px;
    background: white;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    border-left:  solid wheat 1px;
    border-right: solid wheat 1px;
    border-top:  solid wheat 1px;
    border-bottom: solid wheat 1px;
    margin-top: 9%;
    margin-left: 3%;
  }
  
    
th{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  color: white;
  background-color:#0C2531 ;
  height: 55px;
  width: 1370px;
  font-size: 17px;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
}

td{
  border-collapse: collapse;
  padding: 5px;
  height: 55px;
  width: 1370px;;
  font-size: 17px;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
}
table{
  border-radius: 5px 5px 5px 5px;
  border: solid rgba(238, 28, 37, 0.0470588235294118) 2px;
  border-collapse: collapse;
  padding: 5px;
  height: 55px;
  width: 1370px;
}

table tr:nth-child(odd) {
  background-color: white;
}
table tr:nth-child(even) {
  background-color: rgba(238, 28, 37, 0.0470588235294118);
}