<div class="container" fxFlex>
    <mat-card>
        <h1 style="text-align: center;"><b>How It Works</b></h1> <br>
        <p style="text-align: center; font-size: 13px;">“What you wear is how you present yourself to the world,
            especially today, when human contacts <br>

            are so quick. Fashion is instant language.”</p>

        <p style="font-size: 13px; margin: 3%;">Proin erat tellus, dapibus ut pulvinar non, suscipit ac massa. Maecenas
            ac sem eget ex porta tincidunt. Morbi dictum ante at vulputate sceleri <br> sque. Donec rutrum nisi eu diam
            convallis sodales eu ac libero. Proin vitae gravida arcu. Pelesque molestie semper ligula, vitae vulputate
            sapien <br> mattis quis. Donec id tellus quis purus porttitor vestibulum.</p>

        <div>
            <div fxFlex style="margin-top: 2%;">
                <img src="assets/images/howItWorks.gif" alt="Logo" height="200px" width="70%">

            </div>

            <div fxFlex>
                <h1><b>Why Should choose us?</b></h1>
                <p>Proin erat tellus, dapibus ut pulvinar non, suscipit ac massa. Maecenas ac sem eget ex porta
                    tincidunt. Morbi dictum ante at vulputate sceleri sque. Donec rutrum nisi eu

                    diam convallis sodales eu ac libero. Proin vitae gravida arcu. <br>

                    Aliquam hendrerit ex arcu, nec sagittis ligula porta eu. Ut ex leo, suscipit sit amet augue sed,
                    laoreet congue ex. Morbi ornare mi a rutrum scelerisque. Aenean vulputate viverra pharetra. <br><br>
                </p>
            </div>
        </div>
    </mat-card>

</div>