<mat-card style="margin-bottom: 4%; margin-left: 1%; margin-right: 1%;">
    <h3>Invento Object Classification</h3>
    <hr>
    <div class="card-body">
        <h4><b>Upload The Image</b></h4>
        <form [formGroup]="uploadImage" (ngSubmit)="onSubmit()">
            <input class="btn btn-primary" type="file" name=file (change)="onFileSelect($event)"
                accept=".png,.jpg,jpeg,.pdf,.doc,.docx"> <br>
            <button class="btn btn-primary" type="submit">Object Detection</button>
        </form>
    </div>
    <hr>

    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col"><b>Prediction</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td> <img src="data:image/png;base64,{{ user_image }}"> </td> -->
                    <td id="imageShow" style="display: block;"> <img [src]=user_image width="100%" height="50%"> </td>
                </tr>
            </tbody>

            <!-- <thead>
                <tr *ngFor="let item of testArray | keyvalue">
                    <th scope="col">
                        <b>{{item.key | uppercase}}</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of num_object">
                     <td> <img src="data:image/png;base64,{{ user_image }}"> </td> 

             <td> {{item.total_object}} </td>
                </tr>
            </tbody> -->
        </table>
    </div>


    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr *ngFor="let item of testArray | keyvalue">
                    <th scope="col">{{item.key | uppercase}}</th>
                    <th>{{item.value}} </th>
                </tr>
            </thead>
            <!-- <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody> -->
        </table>
    </div>



    <div align="end">
        <button style="margin: 1%;" class="btn btn-primary" (click)="clear()">Clear Response</button>
        <button class="btn btn-primary">Save Response</button>
    </div>

</mat-card>