<div class="div1">
    <div class="example-button-row">
        <button mat-raised-button color="white" [routerLink]="['./scan']" routerLinkActive="active"> <b>Scans</b>
        </button>
        <button mat-raised-button color="white" [routerLink]="['./analyze']" routerLinkActive="active"> <b>Analyze</b>
        </button>
    </div>
    <router-outlet></router-outlet>
</div>

<!-- 

<div style="margin:0.5%; position:inherit;">
    <form> -->
<!-- <label for="email">Filter:</label>
        <input type="text" id="email" placeholder="Type to Filter..." [(ngModel)]="searchText" autocomplete="off"
            name="email">
        <label for="pwd">Show:</label>
        <select name="" id="">
            <option value="">5</option>
        </select>

        <div>
            <button class="btn btn-success btn-block" (click)="openPDF()"><b>Download PDF</b></button>
        </div> -->
<!-- <div class="actionBoard" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGapt.lt-md="0px">
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Filter</mat-label>
                <input matInput type="text" placeholder="Type to Filter..." [(ngModel)]="searchText" name="filter">
            </mat-form-field>
            <div fxFlex="20">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openPDF()">Download PDF</button>
            </div>
        </div>
    </form>
</div> -->

<div class="table-responsive" id="htmlData">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <button class="tablebutton">
                        <i class="material-icons-new outline-search"></i>
                    </button>
                </th>
                <th scope="col">
                    <button class="tablebutton">
                        <i class="material-icons-new outline-local_printshop"></i>
                    </button>
                </th>
                <th scope="col">
                    <button class="tablebutton">
                        <i class="material-icons-new outline-cloud_download"></i>
                    </button>
                </th>
            </tr>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Date</th>
                <th scope="col">Business Location</th>
                <th scope="col">No of Inbound Scan</th>
                <th scope="col">No of Outbound Scan</th>
                <th scope="col">No of Internal Scan</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let barcode of barcodes | filter:searchText; let i=index">
                <td scope="row"> {{i+1}} </td>
                <td>{{ barcode.date }}</td>
                <td>{{ barcode.businessLocation }}</td>
                <td>{{ barcode.inboundScan }}</td>
                <td>{{ barcode.outboundScan }}</td>
                <td> {{barcode.internalScan}} </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</div>