<mat-card>

    <h3> Create New Category</h3>
    <hr>
    <div [hidden]="submitted" style="width:100%;">
        <form #category="ngForm" (ngSubmit)="onSubmit()">
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

                <mat-form-field fxFlex="25" appearance="outline">
                    <mat-label>Category Id</mat-label>
                    <input matInput type="text" id="categoryId" placeholder="Category Id" required
                        [(ngModel)]="category.categoryId" name="categoryId">
                </mat-form-field>

                <mat-form-field fxFlex="25" appearance="outline">
                    <mat-label>Category Name</mat-label>
                    <input matInput type="text" id="categoryName" placeholder="Category Name" required
                        [(ngModel)]="category.categoryName" name="categoryName">
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayout.md_lt="column" fxLayoutGap="20px" FxLayoutGap.md_lt="5px">
                <div fxFlex="10">
                    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="cancel()">Cancel</button>
                </div>
                <div fxFlex="10">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                        [disabled]="category.form.invalid">Submit</button>
                </div>
            </div>
        </form>

    </div>



    <div [hidden]="!submitted">
        <h4>Successfully submitted!</h4>
    </div>
</mat-card>