.container{
    margin: 1%;
}


.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}


#u8718_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 459px;
    height: 50px;
    padding: 2px 2px 2px 15px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: normal;
    color: #000000;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}