<div style="text-align: center; margin-bottom: 15%;">
    <h4>Reset Your Password</h4> <br>
    <p>
        Don't worry ! Just fill in your user name and we'll send your the <br>  
        new password to your registered email id
    </p>
</div>
    <form>
        <div class="input-group">
            <span class="input-group-addon"><i id="icon" class="glyphicon glyphicon-user"></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="username">
        </div>

        <div>
            <button class="bsubutton" type="submit" routerLink="/bsuheader"><b> Send Request</b></button>
        </div>
        <div>
            <button mat-button mat-dialog-close class="bsubutton"> Cancel</button>
        </div>
    </form>

