

.form-control {
    
    
    width: 400PX;
    height:60px;
    padding: 2px 2px 2px 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    color: #000000;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    
    border-radius: 2%;
}



.bsubutton{
    
    margin-top: 5%;
    height: 60px;
    width: 440px;
    background-color: rgba(35, 132, 211, 1);
    font-size: 20px;
    color: white;
    border-radius: 3px 3px 3px 3px;
    border: solid rgba(35, 132, 211, 1) 1px;
    
}

.reset{
    margin-top: 3%;
    text-align: center;
}

