<div class="faqs">

    <mat-card>

        <h1 style="text-align: center;"><b>Frequently Asked Question(FAQ)</b></h1>
        <p style="text-align: center;">

            Frequently Asked Question(FAQ)

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
            dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
            vulputate, felis tellus <br> mollis orci, sed rhoncus pronin sapien nunc accuan eget.
        </p>

        <div style="text-align: center;">
            <div fxFlex>
               
                <div id="div1">
                    <p> <b style="color: red;">Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <p  style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>

                <div id="div1">
                    <p><b>Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <p style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>

                <div id="div1">
                    <p><b>Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <p style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>

                <div id="div1">
                    <p><b>Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <p style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>

                <div id="div1">
                    <p><b>Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <p style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>


            </div>

            <div fxFlex>
                <div id="div1">
                    <p><b>Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                </div>
                <p style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>

                <div id="div1">
                    <p><b>Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <p style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>

                <div id="div1">
                    <p><b>Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <p style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>

                <div id="div1">
                    <p><b>Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <p style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>

                <div id="div1">
                    <p><b>Q.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <p style="font-size: 18px; margin-right: 4%;">
                    <b>A.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>

    </mat-card>

</div>