.faqs{
    margin: 1%;
    margin-left: 2%;
}

#v1{
    border-left: 4px solid red;
    height: 20px;
    
}

#div1{
    text-align: center;
    background-color: whitesmoke;
    height: 20px;
    width: 500px;
    margin-left: 2%;
    // margin-top: 2%;
    font-size: 14px;
    border-left: 3px solid red;
    background: whitesmoke;
}
 #p1{
    border-left: 3px solid black;
    height: 20px;
    
}