
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <th scope="row">{{user.firstName}}</th>
          <td>{{user.lastName}}</td>
          <td>{{user.emailId}}</td>
          <td>
            <button (click)="updateUser(user.id)" class="btn btn-warning" style="margin-left: 10px">Update</button>
            <button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            <button (click)="userDetails(user.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
