<div style="margin-left: 1%;">
    <div class="example-button-row">
        <button mat-raised-button color="white" [routerLink]="['./categoryform']" routerLinkActive="active">
            <b>Category</b></button>
        <button mat-raised-button color="white" [routerLink]="['./commonproductform']" routerLinkActive="active">
            <b>Common
                Product</b>
        </button>
        <button mat-raised-button color="white" [routerLink]="['./productrelationform']"
            routerLinkActive="active"><b>Product Relation</b>
        </button>
    </div>
</div>
<router-outlet></router-outlet>