<div class="employee">
    <mat-card>

        <h4> Create New Employee</h4>
        <hr>

        <form novalidate [formGroup]="userForm" #fform="ngForm" (ngSubmit)="submit()">
            <div class="input-group">
                <span class="input-group-addon">
                    <mat-icon id="icon">person</mat-icon>
                </span>
                <input matInput formControlName="username" class="form-control1" placeholder="Name" type="text"
                    required>

                <span class="input-group-addon">
                    <mat-icon id="icon">phone</mat-icon>
                </span>
                <input matInput formControlName="mobilenumber" class="form-control1" placeholder="Mobile number"
                    type="text" required>

                <span class="input-group-addon">
                    <mat-icon id="icon">email</mat-icon>
                </span>
                <input matInput class="form-control1" formControlName="email" placeholder="Email ID" type="text"
                    required>

                <span class="input-group-addon">
                    <mat-icon class="icon1">menu</mat-icon>
                </span>

                <select class="form-control1" formControlName="departmenttype">
                    <option [ngValue]="null" disabled>Select Department</option>
                    <option *ngFor="let dtype of departmentType" [ngValue]="dtype">{{dtype}}</option>
                </select>
            </div>
            <div>
                <div fxFlex="30%" style="margin-left:12px;">
                    <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
                </div>
                <div fxFlex="25%">
                    <mat-error *ngIf="formErrors.mobilenumber">{{formErrors.mobilenumber}}</mat-error>
                </div>
                <div fxFlex="25%">
                    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                </div>
            </div>



            <br>

            <div>
                <div fxFlex="75%">

                    <div class="input-group">

                        <span class="input-group-addon">
                            <mat-icon class="icon1">business</mat-icon>
                        </span>
                        <select class="form-control1" formControlName="businesslocation">
                            <option [ngValue]="null" disabled>Select Business Location</option>
                            <option *ngFor="let blocation of businessLocation" [ngValue]="blocation">{{blocation}}
                            </option>
                        </select>

                        <span class="input-group-addon">
                            <mat-icon class="icon1">badge</mat-icon>
                        </span>
                        <input matInput class="form-control1" formControlName="employeeid" placeholder="Employee ID"
                            type="text" required>

                        <span class="input-group-addon">
                            <mat-icon class="icon1">place</mat-icon>
                        </span>
                        <select class="form-control1" formControlName="state">
                            <option [ngValue]="null" disabled>Select State</option>
                            <option *ngFor="let st of states" [ngValue]="st">{{st}}</option>
                        </select>




                    </div>


                    <br>


                    <div>

                        <div fxFlex="25%" class="input-group">

                            <span class="input-group-addon">
                                <mat-icon class="icon1">location_city</mat-icon>
                            </span>
                            <select class="form-control1" formControlName="district">
                                <option [ngValue]="null" disabled>Select City</option>
                                <option *ngFor="let dt of districts" [ngValue]="dt">{{dt}}</option>
                            </select>

                        </div>
                        <div fxFlex="75%" class="input-group">
                            <span class="input-group-addon">
                                <mat-icon class="icon1">place</mat-icon>
                            </span>
                            <input matInput class="form-control2" formControlName="address" type="text"
                                placeholder="Address">
                        </div>

                    </div> <br> <br>
                    <div class="input-group">
                        <button style="width: 200px; height: 50px; background-color: rgba(238, 28, 37, 1); "
                            type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>




                </div>


                <div fxFlex
                    style="height: 240px; width: 200px; margin-left: 100px; margin-right: 40px; margin-top: 12px; border: solid black 1px;">
                    <div style="height: 200px; width: 208px;">
                        <img [src]="imgURL" height="208" *ngIf="imgURL" style="height: 200px; width: 206px; ">

                    </div>


                    <input formControlName="img" style="margin-top: 5px; margin-left: 10px;" #file type="file"
                        accept='image/*' (change)="preview(file.files)" />

                </div>

            </div>



        </form>



    </mat-card>
</div>