.employee{
    margin: 1%;
}









.form-control1 {
    
    
    width: 275px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    vertical-align: none;
    text-transform: none;
    background-color: transparent;
    border: solid gray 1px;
    
    
}

.form-control2 {
    
    
    width: 620px;
    height: 49px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    vertical-align: none;
    text-transform: none;
    background-color: transparent;
    border: solid gray 1px;
    
}





.input-group{
    margin: 1%;
}







