p {
  font-family: Lato;
}
::ng-deep .text-highlight {
  background: yellow;
}

.icon1 {
  position: absolute;
  border-radius: 5px 5px 5px 5px;
  background: rgba(251, 148, 11, 1);
  color: white;
  text-align: center;
  z-index: 2;
  margin-left: 1%;
}
.icon2 {
  position: absolute;
  border-radius: 5px 5px 5px 5px;
  background: rgba(77, 168, 81, 1);
  color: white;
  text-align: center;
  z-index: 2;
  margin-left: 1%;
}
.icon3 {
  position: absolute;
  border-radius: 5px 5px 5px 5px;
  background: rgba(231, 63, 59, 1);
  color: white;
  text-align: center;
  z-index: 2;
  margin-left: 1%;
}
.icon4 {
  position: absolute;
  border-radius: 5px 5px 5px 5px;
  background: rgba(16, 183, 203, 1);
  color: white;
  text-align: center;
  z-index: 2;
  margin-left: 1%;
}
.icon5 {
  position: absolute;
  border-radius: 5px 5px 5px 5px;
  background: rgba(160, 102, 205, 1);
  color: white;
  text-align: center;
  z-index: 2;
  margin-left: 1%;
}

// .contents {
//   margin-top: 13%;
//   z-index: 1;
// }

.mat-icon {
  font-size: 50px;
  width: 55px;
}
