<br>
<div class="div1">
    <div class="example-button-row">
        <button [routerLink]="['./tproductwise']" routerLinkActive="active"> Product Wise
        </button>
        <button [routerLink]="['./trendscategorywise']" routerLinkActive="active"> Category Wise
        </button>
        <button [routerLink]="['./tlocationwise']" routerLinkActive="active">Location Wise
        </button>
        <button [routerLink]="['./tstockwise']" routerLinkActive="active">Stock Wise
        </button>
        <button [routerLink]="['./tsaleswise']" routerLinkActive="active"> Sales Wise
        </button>
        <button [routerLink]="['./tcustomerwise']" routerLinkActive="active">Customer Wise
        </button>
    </div>
    <router-outlet></router-outlet>
</div>


