<div class="div1">
    <div class="example-button-row">
        <button mat-raised-button color="white" [routerLink]="['./salesform']" routerLinkActive="active">  Sales  
        </button>
        <button mat-raised-button color="white" [routerLink]="['./stockform']" routerLinkActive="active">  Stock
        </button>
        <button mat-raised-button color="white" [routerLink]="['./futuretrend']" routerLinkActive="active">Future Trends 
        </button>
      
        
    </div>
    <router-outlet></router-outlet>
</div>



