<div class="div1">
    <div class="example-button-row">
        <button [routerLink]="['./fproductwise']" routerLinkActive="active"> Product Wise
        </button>
        <button [routerLink]="['./fcategorywise']" routerLinkActive="active"> Category Wise
        </button>
        <button [routerLink]="['./flocationwise']" routerLinkActive="active">Location Wise
        </button>
        <button [routerLink]="['./fstockwise']" routerLinkActive="active">Stock Wise
        </button>
        <button [routerLink]="['./fsaleswise']" routerLinkActive="active"> Sales Wise
        </button>
        <button [routerLink]="['./fcustomerwise']" routerLinkActive="active">Customer Wise
        </button>
    </div>
    <router-outlet></router-outlet>
</div>


