.example-button-row button,
.example-button-row a {
  height: 38px;
  width: 130px;
}

.example-button-row button:hover {
  background-color: #D1C4E9;
  color: #0C2531;
  }

.active {
    background: white;
}
.div1{
  margin: 1%;
}
