<mat-card style="margin-left: 1%; margin-right: 1%;">
    <form action="">
        <div class="actionBoard" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Select Date Range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
                    <input matStartDate placeholder="Start Date" formControlName="start">
                    <input matEndDate placeholder="End Date" formControlName="end">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Frequent Level - I</mat-label>
                <input matInput type="text" id="frequentLevel1" placeholder="Enter Frequent Level - I"
                    name="frequentLevel1">
            </mat-form-field>

            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Frequent Level - II</mat-label>
                <input matInput type="text" id="frequentLevel2" placeholder="Enter Frequent Level - II"
                    name="frequentLevel2">
            </mat-form-field>

            <mat-form-field fxFlex='25' appearance="outline">
                <mat-label>Frequent Level - III</mat-label>
                <input matInput type="text" id="frequentLevel3" placeholder="Enter Frequent Level - III"
                    name="frequentLevel3">
            </mat-form-field>
            <div fxFlex="10">
                <button mat-raised-button color="primary" routerLinkActive="active"> Get Report </button>
            </div>
            <!-- <div fxFlex="20">
                <button type="button" class="btn btn-primary btn-lg btn-block">Get Report</button>
            </div> -->
        </div>
    </form>
</mat-card>





<div style="margin-left:2%; margin-right: 2%; margin-top: 1%; position:inherit;">
    <!-- <form> -->
    <!-- <label for="email">Filter:</label>
        <input type="text" id="email" placeholder="Type to Filter..." [(ngModel)]="searchText" autocomplete="off"
            name="email">
        <label for="pwd">Show:</label>
        <select name="" id="">
            <option value="">5</option>
        </select>

        <div>
            <button class="btn btn-success btn-block"><b>Download PDF</b></button>
        </div> -->
    <!-- <div class="actionBoard" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Filter</mat-label>
                <input matInput type="text" placeholder="Type to Filter..." id="filter" name="filter" [(ngModel)]="searchText">
            </mat-form-field>
            <div fxFlex="20">
                <button type="button" class="btn btn-primary btn-lg btn-block">Downlaod PDF</button>
            </div>
        </div>
    </form> -->
</div>

<div class="example-button-row">
    <button style="margin-left: 1%;" mat-raised-button color="white" [routerLink]="['./frequent1']"
        routerLinkActive="active"> Frequent Level
        -
        I</button>
    <button mat-raised-button color="white" [routerLink]="['./frequent2']" routerLinkActive="active"> Frequent
        Level - II
    </button>
    <button mat-raised-button color="white" [routerLink]="['./frequent3']" routerLinkActive="active">Frequent
        Level - III
    </button>
</div>
<router-outlet></router-outlet>