<mat-card>
    <form action="">

        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="200px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Select Report Type</mat-label>
                <select matNativeControl [disabled]="disableSelect.value">
                    <option value="" selected></option>
                    <option *ngFor="let rtype of reportType" value="rtype">
                        {{rtype}}
                    </option>
                </select>
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline">
                <mat-label>Select</mat-label>
                <select matNativeControl [disabled]="disableSelect.value">
                    <option value="" selected></option>
                    <option *ngFor="let btype of businessLocation" value="btype">
                        {{btype}}
                    </option>
                </select>
            </mat-form-field>
            <div fxFlex="10">
                <button type="button" mat-raised-button color="primary">Get Report</button>
            </div>
        </div>

    </form>
</mat-card>



<!-- 
<div style="margin-left: 1.5%; margin-top: 1%; margin-right: 1.5%; position:inherit;">
    <form> -->
        <!-- <label for="email">Filter:</label>
        <input type="text" id="email" placeholder="Type to Filter..." [(ngModel)]="searchText" autocomplete="off"
            name="email">
        <label for="pwd">Show:</label>
        <select name="" id="">
            <option value="">5</option>
        </select> -->

        <!-- <div class="actionBoard" fxlayout="row" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Filter</mat-label>
                <input matInput type="text" id="filter" name="filter" placeholder="Type to filter..."
                    [(ngModel)]="searchText">
            </mat-form-field>
            <div fxFlex="20">
                <button class="btn btn-primary btn-lg btn-block" (click)="openPDF()">Download PDF</button>
            </div>
        </div>
    </form>
</div>
 -->

<div class="table-responsive" id="htmlData">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <button class="tablebutton">
                        <i class="material-icons-new outline-search"></i>
                    </button>
                </th>
                <th scope="col">
                    <button class="tablebutton">
                        <i class="material-icons-new outline-location_city"></i>
                    </button>
                </th>
                <th scope="col">
                    <button type="button" class="tablebutton" (click)="openPDF()">
                        <i class="material-icons-new outline-cloud_download"></i>
                    </button>
                </th>

                <th scope="col">
                    <button class="tablebutton">
                        <i class="material-icons-new outline-fullscreen"></i>
                    </button>
                </th>
                <th scope="col">
                    <button class="tablebutton">
                        <i class="material-icons-new outline-local_printshop"></i>
                    </button>
                </th>
                <th scope="col">
                    <button type="button" class="tablebutton" routerLink="/default/workallocation">
                        <i class="material-icons-new outline-open_in_new"></i>
                    </button>
                </th>
                <th scope="col">
                    <button type="button" class="tablebutton" routerLink="/default/inventorystore">
                        <i class="material-icons-new outline-add"></i>
                    </button>
                </th>
            </tr>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Location ID</th>
                <th scope="col">Location Name</th>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category ID</th>
                <th scope="col">Category Name</th>
                <th scope="col">Start Stock</th>
                <th scope="col">Available Stock</th>
                <th scope="col">Moved Stock</th>
                <th scope="col">Product Price</th>
                <th scope="col">Total Sales(INR)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data | filter:searchText ; let i = index">
                <td scope="row">{{ item.sn }}</td>
                <td>{{item.locationid}}</td>
                <td>{{item.locationname}}</td>
                <td> {{item.productid}} </td>
                <td> {{item.productname}} </td>
                <td> {{item.categoryid}} </td>
                <td> {{item.categoryname}} </td>
                <td> {{item.startstock}} </td>
                <td> {{item.availablestock}} </td>
                <td> {{item.movedstock}} </td>
                <td> {{item.productprice}} </td>
                <td> {{item.totalsales}} </td>
            </tr>
        </tbody>
    </table>
</div>